.element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.element:last-child {
  margin-bottom: 0;
}

.element_fullwidth {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 536px;
}
